* {
    justify-content:center;
    align-items: center;
    align-content: center;
    text-align: center;
    
}



.noData {
    font-size: 1.1rem;
    background-color: #de0010;
    padding: 10px;
    margin-top: 5rem;
   
}